[submodule "third_party/VGGT"]
	path = third_party/VGGT
	url = https://github.com/facebookresearch/vggt.git
	ignore = untracked
[submodule "third_party/Video-Depth-Anything"]
	path = third_party/Video-Depth-Anything
	url = https://github.com/DepthAnything/Video-Depth-Anything.git
	ignore = untracked
[submodule "third_party/dinov3"]
	path = third_party/dinov3
	url = https://github.com/facebookresearch/dinov3.git
	ignore = untracked
[submodule "third_party/ml-depth-pro"]
	path = third_party/ml-depth-pro
	url = https://github.com/apple/ml-depth-pro.git
	ignore = untracked
[submodule "third_party/openego"]
	path = third_party/openego
	url = https://github.com/ahadjawaid/openego.git
	ignore = untracked
